$font-list: 12px 14px 16px 18px 20px 24px 32px 36px 40px 48px;
// $base-font-size: nth($font-list, 2);
// $base-line-height: 10px;
// $rhythm-unit: 'px';
$mainWidth: 1200px;
$lightBlueColor: #88CEEE;
$blueColor: #47B6E8;
$darkBlueColor: #25394F;
$lightRedColor: #FE7672;
$redColor: #F83E39;
$darkRedColor: #E13833;
$lightGreenColor: #58DE73;
$greenColor: #42C65D;
$darkGreenColor: #39AC51;
$lightYellowColor: #F8E81C;
$yellowColor: #FFC914;
$darkYellowColor: #F7B43D;
$lightGrayColor: #EAE9E9;
$grayColor: #9B9B9B;
$darkGrayColor: #4A4A4A;
$darkColor: #000;
$lightColor: #FFF;
$backgroundColor: #F9FCFF;
// $susy: ( columns:24, math:fluid, gutters:1/3, gutter-position:split);
// $gutter: 10px;
$susy: ( columns:24, math:fluid, gutters:1, gutter-position:split);
$gutter:20px;
